ion-content{
    --background: var(--ion-color-primary);
    height: 100vh;
}
ion-card{
    height: 98%;
}

ion-text{
    font-size: 20px;
}

ion-label{
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: larger;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
}


ion-card{
    border-radius: 40px;
    padding: 2rem;
}

ion-list{
    margin-top: 5rem;
    gap: 10px;
}

ion-input{
    margin-top: 1rem;
    margin-bottom: 2px;
}
ion-text{
    display: flex;
    justify-content: right;
    font-size: small;
}

