<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="login-content">
        <img src="../../assets/800px-San_juan_batangas_seal.png" alt="">
      </div>
    </ion-card-header> 
      <ion-label>
      Let’s login for explore continues
      </ion-label>
      <!-- Login Form -->
      <ion-list>
        <ion-input type="email" label="Email Address" label-placement="floating" fill="outline" placeholder="Enter your Email Address"></ion-input>
        <ion-input type="password" label="Password" label-placement="floating" fill="outline" placeholder="Enter your Password"></ion-input>
        <ion-text>
          Forgot Password?
        </ion-text>
      </ion-list>
      <ion-button expand="block" routerLink="/dashboard">Login</ion-button>
      <ion-label class="sign-up">
        Don’t have an account?  <a routerLink="/register">Register</a>
      </ion-label>
    </ion-card>
</ion-content>