ion-header {
    --background: transparent; // Set the header background as transparent
}

ion-content {
    --padding-start: 20px; // Add left padding to the content area
    --padding-end: 20px; // Add right padding to the content area
    --background-color: black;
}

ion-card {
    padding: 1rem;
    h1 {
      margin-bottom: 20px; // Add bottom margin to the heading
    }

    form {
    label {
        display: block; // Display labels as blocks
        margin-bottom: 5px; // Add bottom margin to labels
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    }

    #job-listings {
    .job-listing {
        margin-bottom: 20px; // Add bottom margin to each job listing

        h2.job-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
        }

        p {
        margin-bottom: 5px;
        }

        p.job-company {
        font-weight: bold;
        }
    }
    }
}

ion-button {
    margin-top: 20px; // Add top margin to the button
    
    
}
