<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="jobs">
    <ion-card routerLink="/jobs">
      <img src="../../../assets/add-job.png">
      <ion-label>
        JOBS
      </ion-label>
    </ion-card>
  </div>

  <div class="logout">
    <ion-card routerLink="/home">
      <img src="../../../assets/logout.png">
        <ion-label>
          LOGOUT
        </ion-label>
    </ion-card>
  </div>
</ion-content>





